input {
	z-index: 1;
	display: flex;
	position: relative;
	left: 418px;
	top: 372px;
}
button {
	position: relative;
	left: 450px;
	top: 390px;
}
img {
	z-index: 0;
}

body {
	background-image: url("../../ASSETS/BACKGROUNDS/Background - Welcome.png");
}