
.WizardBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Wizard.png");
    background-repeat: no-repeat;
    background-size: 1250px 749px;
}
.OnboardingBackground {
	background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Onboarding.gif");
}

.StartScreenBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Mushroom.png");
}

.DisplayBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Settings Display.png");
}
.KeyboardBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Settings Keyboard.png");
}
.LanguageBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Settings Language.png");
}
.UserBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Settings User.png");
}
.LeverBackground {
    background: url("../../ASSETS/ANIMATIONS/Settings Lever Pulled.gif");
}
.LeverReversedBackground {
    background: url("../../ASSETS/ANIMATIONS/Settings Lever Pulled Reverse.gif");
}
.KeyboardClose {
    background: url("../../ASSETS/ANIMATIONS/Settings Keyboard Closes.gif");
}
.KeyboardLanguge {
    background: url("../../ASSETS/ANIMATIONS/Settings Language Panel.gif");
}
.KeyboardLangugeReverse {
    background: url("../../ASSETS/ANIMATIONS/Settings Language Panel Reversed.gif");
}

/* EXTERIORS */
.ExtCupboardBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior\ Cupboard.png");
}
.ExtLibrary {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior\ Library.png");
}
.ExtObservatory {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior\ Observatory.png");
}
.ExtOffice {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior Office.png");
}
.ExtStalk {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior Stalk.png");
}
.ExtArchiveBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Exterior Archive.png");
}

/* MENUS */
.CupboardBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Cupboard.png");
}
.LibraryBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Library.png");
}
.ObservatoryBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Observatory.png");
}
.OfficeBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Office.png");
}

/* ARCHIVE */
.ArchiveNewBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Archive New.png");
}

/* EXPLORER */
.KitchenBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Kitchen.png");
}
.ChalkboardBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Chalkboard.png");
}

/* AUTHORS */

.AuthorMenuBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Author\ -\ Menu.png");
}
.AuthorNewBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Author\ -\ New.png");
}

/* POKEMON */

.BoxesBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Pokemon\ -\ Boxes.png");
}

/* ELEMENTS */

.CatMenuBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Element\ -\ CatMenu.png");
}
.CatNewBody {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Element\ -\ CatNew.png");
}
.MainStalkBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ Main\ -\ MainStalk.png");
}

/* MAIN */
/* WELCOME */

.MainWelcomeMap_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/WELCOME/Background\ -\ Map.png");
}
.SplashBackground {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/WELCOME/Background\ -\ Splash\ Screen.png");
    background-repeat: no-repeat;
    background-size: 1250px 900px;
}
.SplashBackgroundEnd {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/WELCOME/Background\ -\ Splash\ Screen\ Final.png");
    background-repeat: no-repeat;
    background-size: 1250px 900px;
}
.SplashBackgroundTransition {
    background: url("../../ASSETS/ANIMATIONS/MushroomTitle.gif");
    background-repeat: no-repeat;
    background-size: 1250px 900px;
}
.MainWelcomeTitle_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/WELCOME/Background\ -\ Title\ Screen.png");
}
.MainWelcomeWelcome_Background {
    background:  url("../../ASSETS/IMAGES/BACKGROUNDS/WELCOME/Background\ -\ Welcome.png");
}

/* SETTINGS */

.MainSettingsMenu_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/SETTINGS/Background\ -\ Settings\ -\ Menu.png");
}

/* PROFILES */

.MainProfileSwitch_Background{
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/PROFILES/Background\ -\ Profile\ -\ Switch.png");
}
.MainProfileValidation_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/PROFILES/Background\ -\ Profile\ -\ Validation.png");
}

/* DOORWAYS */

.MainMedia_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/DOORWAYS/Background\ -\ Media\ -\ Menu.png");
}

/* BOOKS */

.MediaBookMenu_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/BOOKS/Background\ -\ Book\ -\ Menu.png");
}
.MediaBookNew_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/BOOKS/Background\ -\ Book\ -\ New.png");
}
.MediaBookSearch_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/BOOKS/Background\ -\ Book\ -\ Search.png");
}
.MediaBookView_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/BOOKS/Background\ -\ Book\ -\ View.png");
}

/* GENRE */

.MediaGenreMenu_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/GENRE/Background\ -\ Genre\ -\ Menu.png");
}
.MediaGenreNew_Background {
    background: url("../../ASSETS/IMAGES/BACKGROUNDS/GENRE/Background\ -\ Genre\ -\ New.png");
}