p {
	font-family: "centralia";
	font-size: 58px;
	text-align: center;
	color: red;
}
button {
	border-radius: 10%;
	background-color: black;
	color: white;
	border-style: solid;
	border-color: white;
	height: 50px;
	width: 200px;
	display: inline-block;
	margin-right: 30px;
	font-family: 'Nugo Sans';
	font-size: 20px;
	-webkit-app-region: no-drag;
}
label {
	color: white;
	font-family: 'Lemon Milk';
	font-size: 12px;
}
input {
	background-color: rebeccapurple;
	display: block;
	height: 30px;
}
body {
	background-color: black;
	color: white;
	-webkit-app-region: drag;
}
h1 {
	color: white;
	font-family: 'Hello_Graduation_Sans';
}
jellyfish-navigation {
	background: url("../../ASSETS/IMAGES/BACKGROUNDS/Background\ -\ NavBar.png");
}
select {
	background-color: rgb(116, 4, 75);
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    z-index: 20; 
}

:root {
    --DarkPurple: #1f0d45;
    --MiddlePurple: #5d1971;
    --LightPurple: #2a1558;
    --PalestPurple: #A3B4C9;
    --MiddleBlue: #3f72a9;
    --Black: #000000;
    --White: #FFFFFF;
    --TitleFont: "Hello_Graduation_Sans";
    --HeaderFont: 'LEMON MILK';
    --FullPercent: 100%;
    --FullSize: 100px;
    --HalfPercent: 50%;
}