@import "../../../STYLE/BASE/ImageLoader.css";
@import "../../../STYLE/BASE/RootStyles.css";

.LEVER {
    position: absolute;
    transform: translate(719px, -60px); 
}
.PULLED {
    position: absolute;
    transform: translate(719px, 200px);
}