body {

	background-color: black;
}

button {

	background-color: aqua;
	border-radius: 30%;
}

.square {

	background-color: rgb(218, 161, 240);
	border-style: groove;
	border-color: black;

	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;

	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

}

#FRIDGE-PAGE-Taskboard {

	background-color: rgb(141, 246, 209);
	width: 500px;
	height: 500px;
	border-style: solid;
	float: right;
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}

img {

	height: 100px;
	width: 100px;
}