@import "../../SETTINGS/STYLES/RootStyle.css";

/* GRIDS */
.mainGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: fit-content(3em);
}
.gridHeader {
	grid-column: 1/ span 3;
	grid-row: 1 / span 2;
	text-align: center;
}
.gridStrip {
	grid-column: 1 / span 3;
	display: flex;
	overflow: hidden;
}
.gridButtons {
	grid-column: 1;
	grid-row: 4 / span 5;
}
.gridDay {
	grid-column: 1 / span 3;
}

/* TEXT */
.mainPageTitle {
	font-family: 'Hello_Graduation_Sans', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
	font-family: "centralia";
	font-size: 58px;
	text-align: center;
}

/* IMAGE */
img {
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: var(--frogDinosaurs);
}

/* BUTTONS */
button {
	border-radius: 10%;
}
.stripButton {
	font-family: 'Hello_Graduation_Sans';
	font-size: 20px;
	padding: 10px;
	color: white;
	border-radius: 5px !important;
	align-self: center;
}
.buttonPanel {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
}

/* STRIP BUTTONS */
#button-goblin-bucket{
	background-color: var(--JELLYBLUE_ROBIN_EGG);
}
#button-goblin-bucket:hover{
	background-color: var(--JELLYGREEN_GREEN);
}
#button-goblin-fridge{
	background-color: var(--JELLYPINK_STEEL);
}
#button-goblin-fridge:hover{
	background-color: var(--JELLYVIOLET_PURPLE);
}

/* DAY BUTTONS */
.dayButton {

	font-family: 'nugo sans';
	font-weight: bold;
	font-size: 16;
	color: white;
	width: 100px;
	height: 50px;
}
#monButton {
	background-color: var(--JELLYINDIGO_ELECTRIC);
}
#monButton:hover {
	background-color: var(--JELLYINDIGO_ELECTRIC_DARK);
}
#monButton:active {
	background-color: black;
}
#tueButton {
	background-color: var(--JELLYPINK_MAGENTA);
}
#tueButton:hover {
	background-color: var(--JELLYPINK_MAGENTA_DARK);
}
#tueButton:active {
	background-color: black;
}
#wedButton {
	background-color: var(--JELLYVIOLET_VERONICA);
}
#wedButton:hover {
	background-color: var(--JELLYVIOLET_VERONICA_DARK);
}
#wedButton:active {
	background-color: black;
}
#thurButton {
	background-color: var(--JELLYRED_FIRE_ENGINE_RED);
}
#thurButton:hover {
	background-color: var(--JELLYRED_FIRE_ENGINE_RED_DARK);
}
#thurButton:active {
	background-color: black;
}
#friButton {
	background-color: var(--JELLYORANGE_SAFETY_ORANGE);
}
#friButton:hover {
	background-color: var(--JELLYORANGE_SAFETY_ORANGE_DARK);
}
#friButton:active {
	background-color: black;
}
#satButton {
	background-color: var(--JELLYGREEN_LAWN);
	color: black !important;
}
#satButton:hover {
	background-color: var(--JELLYGREEN_LAWN_DARK);
	color: white !important;
}
#satButton:active {
	background-color: black;
	color: white !important;
}
#sunButton {
	background-color: var(--JELLYYELLOW_CANARY);
	color: black !important;
	grid-column-start: 2;
}
#sunButton:hover {
	background-color: var(--JELLYYELLOW_CANARY_DARK);
	color: white !important;
}
#sunButton:active {
	background-color: black;
	color: white !important;
}
