<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="StyleNew.css"> -->
    <title>LIBRARY</title>
</head>
<body>
    <jellyfish-frame></jellyfish-frame>
    <jellyfish-debugmenu></jellyfish-debugmenu>

    <section id = 'View_Section-Title'></section>
    <section id = 'View_Section-Basics'></section>

    
    <script type = 'module' src="Draw_View_Book.js"></script>
    <script type = "module" src = "../../../../APPS/APP - JELLYFISH/ELEMENTS/FRAME/Jellyfish_Frame.js"></script>
    <script type = "module" src = "../../../../APPS/APP - JELLYFISH/ELEMENTS/MENU/Jellyfish_Debug.js"></script>
</body>
</html>