@import "../../../../STYLE/BASE/RootStyles.css";
@import "../../../../STYLE/BASE/ImageLoader.css";

.SIGN {
    position: absolute;
    transform: translate(400px, 540px);
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}