@import "../../SETTINGS/STYLES/RootStyle.css";

body {
	background-color: black;
}

/*  == TEXT == */
h1 {
	color: var(--novaPinkDark);
	font-size: 32px;
	font-family: 'LEMON MILK';
}

/* goblin-rainbow::part(Tealy), goblin-rainbow::part(Cello)  {
	background-color: var(--goblinRed);
} */
/* goblin-rainbow::part(Lucky), goblin-rainbow::part(Inky){
	background-color: var(--goblinOrange);	
}
goblin-rainbow::part(Tassles), goblin-rainbow::part(Rassles) {
	background-color: var(--goblinYellow);
	color: black;
}
goblin-rainbow::part(Clicky), goblin-rainbow::part(Helicopter) {
	background-color: var(--goblinGreen);
}
goblin-rainbow::part(WetZebra), goblin-rainbow::part(Peaches){
	background-color: var(--goblinBlue);
}
goblin-rainbow::part(Unicorn), goblin-rainbow::part(BubblegumTwo) {
	background-color: var(--goblinIndigo);
}
goblin-rainbow::part(Jelly){
	background-color: var(--goblinViolet);
}
goblin-rainbow::part(Bubblegum) {
	background-color: var(--goblinPink);
}
goblin-rainbow::part(Chanceaux) {
	background-color: var(--goblinIndigo);
}
goblin-rainbow::part(Tropicana) {
	background-color: var(--goblinGreen);
} */
goblin-rainbow::part(Buttons) {
	background-color: var(--goblinPink);
}
goblin-rainbow::part(Category) {
	background-color: var(--goblinViolet);
}
.testClass {
	z-index: 1; 
	background-color: blue;
	color: white; 
	width: 100px; 
	height: 100px;
	border-style: solid; 
	border-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#Panic_Table_Section{
	position: relative;
}

.formBackground {
	width: 200px;
	height: 200px;
	background-color: blue;
	display: block !important;
}

.hidden {
	display: none;
}

/* == BUTTONS == */
.panicButtonPanel {
	font-size: 24px;
	font-family: 'Lemon Milk';
	border-radius: 10%;
	margin-bottom: 20px;
	padding: 5px;
}
.panicButtonPanel:hover {
	box-shadow: 0 12px 16px 0 rgba(249, 249, 249, 0.24), 0 17px 50px 0 rgba(241, 237, 237, 0.19);
	width: 250px;
	height: 60px;
	color: white;
}
#PanicFormButton {
	background-color: var(--novaPink);
}
#PanicClearButton {
	background-color: var(--novaGreen);
}
#PanicUndoButton {
	background-color: var(--novaBlue);
}

/* == FORM == */