@import "../../../STYLE/BASE/RootStyles.css";
@import "../../../STYLE/BASE/ImageLoader.css";

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.PICKLE {
    position: absolute;
    transform: translate(80px, 544px);
}