@import "../../../STYLE/BASE/ImageLoader.css";
@import "../../../STYLE/BASE/RootStyles.css";

.LANGUAGES {
    transform: translate(500px, 50px);
}

.DISPLAY {
    position: absolute;
    left: 100px;
    top: 330px;
}