@import "../../STYLE/BASE/ImageLoader.css";
@import "../../STYLE/BASE/RootStyles.css";

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.LOCATIONS {
    position: fixed;
}
.ARCHIVE {
    transform: translate(1000px, 570px);
}
.LIBRARY {
    transform: translate(0px, 570px);
}
.EXPLORER {
    transform: translate(1100px, 300px);
}
.OFFICE {
    transform: translate(70px, 80px);
}
.TATSY {
    transform: translate(590px, -60px);
}
.STALK {
    transform: translate(943px, 50px);
}
.SUNFLOWER {
    transform: translate(870px, -20px);
}
.CUPBOARD {
    transform: translate(1080px, -30px);
}
.SELECTED:hover {
    color: #111;
    background: rgba(255, 65, 236, 0.411);
    border-radius: 30px;
    box-shadow: 0 0 100px rgb(255, 47, 238);
}